body{
margin: 0%;
padding: 0%;
text-align: center;
}

#hero-section{
    height: 100vh;
    background: linear-gradient( rgba(59, 59, 59, 0.5), rgba(59, 59, 59, 0.5) ), url("img/hero.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    position: relative;
}

#logo{
    position: absolute;
    left: 0px;
    top: 0px;
    padding-left: 20px;
    padding-top: 20px;
}

#wrapper{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.slogan{
    color: white;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin: 0%;
}

.slogan2{
     color: white;
     font-size: 2em;
     font-weight: 100;
     text-align: center;
     margin: 0%;
     font-family: cursive;
}

#about-furniture{
    padding-top: 50px;
    padding-bottom: 50px;
}

#item-icons{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.icons-row{
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 3.5em;
}

.h5{
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 1em;
    font-size: 1em;
}

.sofa{
    display: flex;
    flex-direction: row;
}

.table{
    display: flex;
    flex-direction: row;
}

.chair{
    display: flex;
    flex-direction: row;
}

.mug{
    display: flex;
    flex-direction: row;
}

.product-images{
    background-color: white;
    padding-bottom: 50px;
}

.h6{
    font-size: 1.17em;
    padding-top: 2em;
    margin: 0%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1em;
    height: 1000px;
}

#div1{
    background: url("img/mug1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

#div2{
    background: url("img/table1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#div3{
    background: url("img/mug3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 3;
    grid-column-end: 4;
}

#div4{
    background: url("img/mug2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#div5{
    background: url("img/chair3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

#div6{
    background: url("img/chair2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

#div7{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#div8{
    background: url("img/sofa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

#quote{
    background-color: black;
    color: white;
    font-style: italic;
    font-size: 22px;
    padding-top: 75px;
    padding-bottom: 75px;
}

#blogs{
    background-color: lightgrey;
}

#blog-row{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 75px;
    padding-top: 25px;
}

#living-top{
    background-image: url("img/living.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 175px;
    position: relative;
}

#living-tag{
    background-color: black;
    color: white;
    max-width: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 10px;
    left: 10px;
    position: absolute;   
}


#living-bottom{
    background-color: white;
    color: black;
    text-align: left;
    padding: 15px;
}

.h4{
    background-color: white;
    margin: 0%;
}


#dinning-top{
    background-image: url("img/dining.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 175px;
    position: relative;
}

#dinning-tag{
    background-color: black;
    color: white;
    max-width: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#dinning-bottom{
    background-color: white;
    color: black;
    text-align: left;
    padding: 15px;
}

.blog-block{
    width: 30%;
}

#lounging-top{
    background-image: url("img/lounging.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 175px;
    position: relative;
}

#lounging-tag{
    background-color: black;
    color: white;
    max-width: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    left: 10px;
    bottom: 10px;
    position: absolute;
}

#lounging-bottom{
    background-color: white;
    color: black;
    text-align: left;
    padding: 15px;
}

#contact{
    display: flex;
    background-color: lightgrey;
    justify-content: space-between;
    padding-bottom: 50px;
}

#contact-info{
    max-width: 40%;
    text-align: left;
    padding: 15px;
    color:black;
}

#info{
}

#form-wrapper{
    padding: 15px;
}

#form{
    display: flex;
    flex-direction: column;
}

#name.email{
    display: flex;
}

#name-input{
    margin-top: 15px;
    width: 200px;
    height: 25px;
    border: none;
}

#email-input{
    margin-top: 15px;
    width: 200px;
    height: 25px;
    border: none;
}

#title-input{
    margin-top: 15px;
    width: 100%;
    height: 25px;
    border: none;
}

#comment{
    margin-top: 15px;
    width: 100%;
    height: 100px;
    border: none;
}

#form-button{
    background-color: black;
    color: white;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    border: none;  
}

#footer{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    text-align: left;
}

#about{
    max-width: 30%;
}

.footer-icon{
    width: 1em;
    padding-right: 5px;
}

.blackl{
    text-align: left;
    color: black;
    font-size: 1.5em;
    padding-top: 0%;
}

.container{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.gray{
    background-color: lightgray;
}

@media only screen and (max-width: 750px){

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1em;
    height: 1000px;
}

#div8{
    background: url("img/sofa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#div3{
    background: url("img/mug3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
}

@media only screen and (min-width: 751px){
    .icons-row-big{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media only screen and (max-width: 430px){
.icons-row{
    flex-direction: column;
    align-items: center;
}
}