body{
margin: 0%;
padding: 0%;
text-align: center;
}

#hero-section{
    height: 100vh;
    background: linear-gradient( rgba(59, 59, 59, 0.5), rgba(59, 59, 59, 0.5) ), url("img/hero.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

#logo{
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 20px;
}

#wrapper{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.slogan{
    color: white;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin: 0%;
}

.slogan2{
     color: white;
     font-size: 2em;
     font-weight: 100;
     text-align: center;
     margin: 0%;
     font-family: cursive;
}

#about-furniture{
    padding-top: 50px;
    padding-bottom: 50px;
}

#item-icons{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon{
    width: 5em;
}

#sofa{
    color: white;
    text-align: left;
    flex-direction: row;
}



#table{
    color: white;
}


#chair{
    color: white;
}


#mug{
    color: white;
}



#what-heading{
    font-size: 1.17em;
    margin: 1em;
    margin-top: 2em;
}

.product-images{
    background-color: white;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1em;
}

#div1{
    background: url("img/mug1.jpg");
    background-size: contain;
    grid-column-start: 1;
    grid-column-end: 2;
}

#div2{
    background: url("img/table1.jpg");
    background-size: contain;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#div3{
    background: url("img/mug3.jpg");
    background-size: contain;
    grid-column-start: 3;
    grid-column-end: 4;
}

#div4{
    background: url("img/mug2.jpg");
    background-size: contain;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#div5{
    background: url(img/chair3.jpg);
    background-size: contain;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

#div6{
    background: url(img/chair2.jpg);
    background-size: contain;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

#div7{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#div8{
    background: url(img/sofa.jpg);
    background-size: contain;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}